.new-calculator-container {
  background-color: var(--c-primary-gamma);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.new-calculator-container__heading {
  margin: 0;
  margin-top: 2px;
  flex: 1;
  font-family: montserrat-semi-bold;
  font-size: 34px;
  color: var(--c-primary-alpha);
}

.new-calculator-container__subheading-container {
  flex: 3;
}

.new-calculator-container__subheading {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  color: var(--c-primary-alpha);
}

.new-calculator-container__leaf {
  position: fixed;
  right: -10vh;
  top: 35%;
  width: 25vh;
}

.new-calculator-form__container {
  flex: 1;
  align-self: flex-end;
  width: 100%;
}

.new-calculator-form__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  color: var(--c-primary-beta);
}

.new-calculator-form__form {
  margin-top: 10px;
}

.new-calculator-form__input-group {
  position: relative;
}

.new-calculator-form__input {
  border: none;
  height: 68px;
  width: 100%;
  padding: 32px 16px 0 5%;
  box-sizing: border-box;
  background-color: var(--c-neutral-gamma);
  font-size: 18px;
}

.new-calculator-form__input:focus {
  outline: none;
  border: 1px solid var(--c-primary-alpha);
}

.new-calculator-form__input--upper {
  border-radius: 5px 5px 0 0;
}

.new-calculator-form__input--upper:after {
  position: absolute;
  content: '';
}

.new-calculator-form__input--bottom {
  border-radius: 0 0 5px 5px;
}

.new-calculator-form__label {
  color: var(--c-neutral-alpha);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5%;
  top: 24px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.new-calculator-form__input:focus~.new-calculator-form__label,
.new-calculator-form__input:valid~.new-calculator-form__label {
  top: 10px;
  font-size: 14px;
}

.new-calculator-form__line-container {
  position: relative;
  height: 1px;
  background-color: var(--c-neutral-gamma);
}

.new-calculator-form__line {
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--c-neutral-beta);
  width: 90%;
  left: 5%;
}

.new-calculator-form__button {
  margin-top: 20px;
  height: 55px;
  width: 100%;
  font-size: 20px;
  box-shadow: 0px 7px 13px var(--c-shadow-primary-alpha);
  margin-bottom: 13px;
}

.new-calculator-autocomplete{
  font-size: 16px;
  position: relative;
}

.new-calculator-autocomplete__container{
  background-color: var(--c-neutral-gamma);
  color: #333;
  width: 100%;
  position: absolute;
  z-index: 1;
  max-height: 215px;
  overflow: scroll;
}

.new-calculator-autocomplete__group {
  padding: 16px;
}

.new-calculator-autocomplete__location{
  color: #b3b3b3;
}

.new-calculator-autocomplete__item{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}

.new-calculator-autocomplete__airport{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.new-calculator-autocomplete__icon{
  width: 19px;
  height: 19px;
  margin-right: 8px;
}

.new-calculator-autocomplete__iata{
  text-transform: uppercase;
  color: #b3b3b3;
}
