.show-calculator-actions{
  position: sticky;
  top: 0;
  background-color: var(--c-neutral-gamma);
  padding: 22px 16px;
  display: flex;
  justify-content: space-between;
}

.show-calculator-money{
  display: flex;
}

.show-calculator-money__button{
  margin: 0;
  height: 35px;
  background-color: var(--c-neutral-beta);
  border-color: var(--c-neutral-beta);
  border-style: solid;
  width: 50px;
}

.show-calculator-money__button--dec{
  border-width: 1px 0 1px 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.show-calculator-money__button--inc{
  border-width: 1px 1px 1px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.show-calculator-money__amount{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;
  width: 80px;
  height: 100%;
  border-color: var(--c-neutral-beta);
  border-width: 1px 0 1px 0;
  border-style: solid;
  font-size: 18px;
  font-weight: bold;
}
