.container {
  background-color: var(--c-primary-zeta);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.container__heading {
  margin: 0;
  margin-top: 2px;
  flex: 1;
  font: var(--t-headline-delta);
  color: var(--c-primary-alpha);
}

.container__subheading-container {
  flex: 3;
}

.container__subheading {
  font: var(--t-body-gamma);
  line-height: 32px;
  color: var(--c-primary-alpha);
}

.container__leaf {
  position: fixed;
  right: -10vh;
  top: 35%;
  width: 25vh;
}

.form__container {
  flex: 1;
  align-self: flex-end;
  width: 100%;
}

.form__heading {
  font: var(--t-body-beta);
  line-height: 28px;
  margin: 0;
  color: var(--c-primary-alpha);
}

.form__form {
  margin-top: 10px;
}

.form__input-group {
  position: relative;
}

.form__input {
  border: none;
  height: 68px;
  width: 100%;
  padding: 32px 16px 0 5%;
  box-sizing: border-box;
  background-color: var(--c-neutral-iota);
  font: var(--t-body-beta);
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--c-primary-alpha);
}

.form__input--upper {
  border-radius: 5px 5px 0 0;
}

.form__input--upper:after {
  position: absolute;
  content: '';
}

.form__input--bottom {
  border-radius: 0 0 5px 5px;
}

.form__label {
  color: var(--c-neutral-gamma);
  font: var(--t-body-beta);
  position: absolute;
  pointer-events: none;
  left: 5%;
  top: 24px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.form__input:focus~.form__label,
.form__input:valid~.form__label {
  top: 10px;
  font: var(--t-caption-beta);
}

.form__line-container {
  position: relative;
  height: 1px;
  background-color: var(--c-neutral-iota);
}

.form__line {
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--c-neutral-epsilon);
  width: 90%;
  left: 5%;
}

.form__button {
  margin-top: 20px;
  height: 55px;
  width: 100%;
  font: var(--t-body-gamma);
  box-shadow: 0px 7px 13px var(--c-shadow-primary-alpha);
  margin-bottom: 13px;
}

.autocomplete{
  position: relative;
}

.autocomplete__container{
  background-color: var(--c-neutral-iota);
  color: var(--c-neutral-alpha);
  width: 100%;
  position: absolute;
  z-index: 1;
  max-height: 215px;
  overflow: scroll;
}

.autocomplete__group {
  padding: 16px;
}

.autocomplete__location{
  color: var(--c-neutral-gamma);
}

.autocomplete__item{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.autocomplete__airport{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.autocomplete__icon{
  width: 19px;
  height: 19px;
  margin-right: 8px;
}

.autocomplete__iata{
  font: var(--t-caption-beta);
  text-transform: uppercase;
  color: var(--c-neutral-gamma);
}
