<div class="calculator_unit">
  <h5> Plane <%= float_to_string(@data[:km]) %> KM </h5>
  <div>
     <input type="range" min="1" max="20000" value="<%= float_to_string(@data[:km]) %>" class="slider">
  </div>
</div>
