/* This file is for your main application css. */
@import "normalize.css";
@import "./calculator.css";

@font-face {
  font-family: open-sans;
  src: url("/fonts/open_sans/regular.ttf");
}
@font-face {
  font-family: open-sans-bold;
  src: url("/fonts/open_sans/bold.ttf");
}
@font-face {
  font-family: open-sans-light;
  src: url("/fonts/open_sans/light.ttf");
}
#data-plane-slider{
  width: 100%;
}
