/* This file is for your main application css. */

/* @import "./phoenix.css"; */

.calculator_unit{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    padding: 5px 30px;
    text-align: center;
    margin: 10px;
}
