.calculator {
  border: 1px solid black;
  border-radius: 3px;
  width: 330px;
  padding: 5px;
  margin: 10px;
  font-family: open-sans-regular;
}

.calculator__title {
  font-family: open-sans-regular;
  margin: 2px;
  text-align: center;
}

.calculator__details {
  border-bottom: 1px solid black;
}

.calculator__distance-container {
  display: inline-block;
  line-height: 50px;
}

.calculator__distance_large {
  font-weight: bold;
  font-size: 20px;
}

.calculator__distance_small {
  font-size: 14px;
}

.calculator__image {
  float: right;
  width: 50px;
}

.calculator__example-container {
  width: 330px;
  table-layout: fixed;
  text-align: center;
}

.calculator__example-row {
  height: 30px;
}

.calculator__example-title {
  text-align: center;
  margin-bottom: 10px;
}

.calculator__example-car-title {
  text-align: left;
  font-size: 14px;
  width: 90px;
}

.calculator__example-car-narrow {
  width: 20px;
}

.calculator__example-car-city {
  width: 100px;
  font-weight: bold;
  font-size: 20px;
}
