.new-flight-container {
  background-color: var(--c-primary-gamma);
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.new-flight-container__heading {
  margin: 0;
  margin-top: 2px;
  flex: 1;
  font-family: montserrat-semi-bold;
  font-size: 34px;
  color: var(--c-primary-alpha);
}

.new-flight-container__subheading-container {
  flex: 3;
}

.new-flight-container__subheading {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  color: var(--c-primary-alpha);
}

.new-flight-container__leaf {
  position: fixed;
  right: -10vh;
  top: 35%;
  width: 25vh;
}

.new-flight-form__container {
  flex: 1;
  align-self: flex-end;
  width: 100%;
}

.new-flight-form__heading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  color: var(--c-primary-beta);
}

.new-flight-form__form {
  margin-top: 10px;
}

.new-flight-form__input-group {
  position: relative;
}

.new-flight-form__input {
  border: none;
  height: 68px;
  width: 100%;
  padding: 32px 16px 0 5%;
  box-sizing: border-box;
  background-color: var(--c-neutral-gamma);
}

.new-flight-form__input:focus {
  outline: none;
  /* border: 1px solid var(--c-primary-alpha); */
}

.new-flight-form__input--upper {
  border-radius: 5px 5px 0 0;
}

.new-flight-form__input--upper:after {
  position: absolute;
  content: '';
}

.new-flight-form__input--bottom {
  border-radius: 0 0 5px 5px;
}

.new-flight-form__label {
  color: var(--c-neutral-alpha);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5%;
  top: 22px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.new-flight-form__input:focus~.new-flight-form__label,
.new-flight-form__input:valid~.new-flight-form__label {
  top: 10px;
  font-size: 14px;
}

.new-flight-form__line-container {
  position: relative;
  height: 1px;
  background-color: var(--c-neutral-gamma);
}

.new-flight-form__line {
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--c-neutral-beta);
  width: 90%;
  left: 5%;
}

.new-flight-form__button {
  margin-top: 20px;
  height: 55px;
  width: 100%;
  font-size: 20px;
  box-shadow: 0px 7px 13px var(--c-shadow-primary-alpha);
  margin-bottom: 13px;
}
