use Mix.Config

# Configure your database
config :co2_offset, Co2Offset.Repo,
  username: "postgres",
  password: "",
  database: "co2_offset_test",
  hostname: "localhost",
  pool: Ecto.Adapters.SQL.Sandbox
